<head>
  <title>Movie Explorer</title>
  <link rel="stylesheet" href="static/style.css" />
  <link
    rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  />
</head>

<div class="menu">
  <a href="/">Home</a>
  <a href="/add_fav">{{current_user.username}}'s List</a>
  <div class="dropdown">
    <button class="dropbtn">Search</button>
    <div class="dropdown-content">
      <a href="/search_movie">By Movie Name</a>
      <a href="/actor_info">By Actor Name</a>
    </div>
  </div>

  <div class="right">
    <a href="/hi">My Reviews</a>
    <a href="/logout">Logout</a>
  </div>
</div>
