<head>
    <link rel="stylesheet" href="static/style.css" />
    <title>Movie Explorer</title>
  </head>
  
  <body>

  <div class="movie_info">
    <h1>Welcome Back</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="warn">{{message}}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

    <div class="login">
      </br>
      <form method="POST" action="/login">
      <label for="uname">Username</label>
      <input type="text" placeholder="Enter Username" name="username" required>
    
      <label for="psw">Password</label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <button type="submit">Login</button>
      </form>
    </div>
  </br>
    <a href="{{ url_for('sign_up' )}}">Don't have an account? Sign Up</a>
  </body>
  